<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/add.css">
</head>
<body>
    <div id="main">
        <div id="nav">
            <h1>SHERYIANS</h1>
            <div id="button">
                <p>Add Memeber</p>
                <p>Add Holiday</p>
            </div>
        </div>
        <div id="add">
            <form action="/addmember" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="password" name="password" placeholder="Password">
                <div id="button">
                    <p id="finger">Add Fingerprint</p>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js" integrity="sha512-iWPnCISAd/J+ZacwV2mbNLCaPGRrRo5OS81lKTVPtRg1wGTC20Cfmp5Us5RcbLv42QLdbAWl0MI57yox5VecQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../static/js/add.js"></script>

</body>
</html>