<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/admin.css">

</head>
<body>
    <div id="main">
        <div id="greeting">
            <h1>Welcome Admin</h1>
            <div id="button">
                <a href="/add"><p>Add Member</p></a>
                <a href="/holiday"><p>Add Holiday</p></a>
            </div>
        </div>
        <div id="data">
            <div id="left">
                <div id="members" class="heading">
                    <p>Name</p>
                    <p>Holidays</p>
                    <p>Late</p>
                </div>
                {% for member in user %}
                    {% if member["name"] != "sheryians coding school" %}
                        <div class="members" id="{{member["name"]}}" >
                            <p>{{member["name"]}}</p>
                            <p>{{member["holiday"]}}</p>
                            <p>{{member["defaultedDays"]}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="right">
                <div id="details">
                    <h2>Name</h2>
                    <div id="avg">
                        <p>Avg entry time</p>
                        <p>Total working hours</p>
                    </div>
                    <div id="holi">
                        <p>Total holidays</p>
                        <p>Total Late days</p>
                    </div>
                </div>
                <div id="last">
                    <div id="dets">
                        <p>Date</p>
                        <p>Entry</p>
                        <p>Exit</p>
                    </div>
                    <div id="dets">
                        <p>Date</p>
                        <p>Entry</p>
                        <p>Exit</p>
                    </div>
                    <div id="dets">
                        <p>Date</p>
                        <p>Entry</p>
                        <p>Exit</p>
                    </div>
                    <div id="dets">
                        <p>Date</p>
                        <p>Entry</p>
                        <p>Exit</p>
                    </div>
                    <div id="dets">
                        <p>Date</p>
                        <p>Entry</p>
                        <p>Exit</p>
                    </div>
                    <div id="dets">
                        <p>Date</p>
                        <p>Entry</p>
                        <p>Exit</p>
                    </div>
                    <div id="dets">
                        <p>Date</p>
                        <p>Entry</p>
                        <p>Exit</p>
                    </div>
                    <div id="dets">
                        <p>Date</p>
                        <p>Entry</p>
                        <p>Exit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>