<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/data.css">
</head>
<body>
    <div id="main">
        <div id="nav">
            <h1>SHERYIANS</h1>
            <div id="button">
                <a href="/add"><p>Add Memeber</p></a>
                <a href="/holiday"><p>Add Holiday</p></a>
            </div>
        </div>
        <div id="olddata">
                
            {% for item in deta %}
            {% if item|length > 1%}
            <div id="date">
                <h2>{{item[0]}}</h2>
                {% for i in range(1,item|length) %}
                    <!-- <p>{{item[i]}}</p> -->

                    {% if item[i]["remark"] == "late"  %}
                        <div id="names" style="background-color: rgb(255, 163, 102); ">
                            <p>{{item[i]["name"]}}</p>
                            <p>{{item[i]["time"]}}</p>
                            <p>{{item[i]["exit"]}}</p>
                            <p>{{item[i]["date"]}}</p>
                            <p>{{item[i]["remark"]}}</p>
                        </div>
                    {% elif item[i]["remark"] == "holiday" %}
                        <div id="names" style="background-color: rgb(119, 255, 56);">
                            <p>{{item[i]["name"]}}</p>
                            <p>{{item[i]["time"]}}</p>
                            <p>{{item[i]["exit"]}}</p>
                            <p>{{item[i]["date"]}}</p>
                            <p>{{item[i]["remark"]}}</p>
                        </div>
                    {% elif item[i]["remark"] == "extra" %}
                        <div id="names" style="background-color: rgb(186, 112, 255);">
                            <p>{{item[i]["name"]}}</p>
                            <p>{{item[i]["time"]}}</p>
                            <p>{{item[i]["exit"]}}</p>
                            <p>{{item[i]["date"]}}</p>
                            <p>{{item[i]["remark"]}}</p>
                        </div>
                        {% else %}
                        <div id="names" style="display: flex;">
                            <p>{{item[i]["name"]}}</p>
                            <p>{{item[i]["time"]}}</p>
                            <p>{{item[i]["exit"]}}</p>
                            <p>{{item[i]["date"]}}</p>
                            <p>{{item[i]["remark"]}}</p>
                        </div>
                        {% endif %}
                        {% endfor %} 
                    </div>
                    {% endif %}
                {% endfor %}    
            </div>
        </div>
    </div>
    </body>
    </html>