<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/deleteholiday.css">
</head>
<body>
    <div id="main">
        <div id="nav">
            <h1>SHERYIANS</h1>
            <div id="button">
                <a href="/add"><p>Add Memeber</p></a>
                <a href="/holiday"><p>Add Holiday</p></a>
            </div>
        </div>
        <form action="/deleteholi" method="post">
            {%for i in date%}
            {%if date|length > 0 %}
                <div id="dates">
                    <input type="checkbox" name="dates" value="{{i}}">
                    <label for="">{{i}}</label> 
                </div>
            {% else %}
                <h1>No Holiday Taken</h1>
            {%endif%}
            {% endfor %}   
            {%if date|length > 0 %}
                <button type="submit">DELETE</button>
            {%endif%}
        </form>
    
    </div>
</body>
</html>