<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/holiday.css">
</head>
<body>
    <div id="main">
        <div id="nav">
            <h1>SHERYIANS</h1>
            <div id="button">
                {%if admin == "admin"%}
                    <a href="/add"><p id="member">Add Memeber</p></a>
                {%endif%}
                <a href="/holiday"><p id="holiday">Add Holiday</p></a>
            </div>
        </div>
        <div id="add">
            <div id="personel">
                <h5>Personal holiday</h5>
                <form action="/personelholiday" method="post">
                    <div id="start">
                        <label for="">Start date</label>
                        <input type="date" name="startdate">
                    </div>
                    <div id="end">
                        <label for="">End date</label>
                        <input type="date" name="enddate">
                    </div>
                    <button type="submit">Add holiday</button>
                </form>
                <p>* to add single holiday select start date only</p>
            </div>
            <div id="dojo">
                <h5>Dojo holiday</h5>
                <form action="/dojoholiday" method="post">
                    <div id="start">
                        <label for="">Start date</label>
                        <input type="date" name="startdate">
                    </div>
                    <div id="end">
                        <label for="">End date</label>
                        <input type="date" name="enddate">
                    </div>
                    <button type="submit">Add holiday</button>
                </form>
                <p>* to add single holiday select start date only</p>
            </div>
            <!-- <div id="clg">
                <h5>College half-day</h5>
                <form action="/clgholiday">
                    <button type="submit">Mark for today</button>
                    <button type="submit">Mark for tommorow</button>
                </form>
            </div> -->
        </div>
</body>
</html>