<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/profile.css">

</head>
<body>
    <div id="main">
        <select id="user" name="user">
            <option id="option" value="default" selected>Select name</option>

            {% for member in user %}
                    <option id="option" value="{{member.name}}">{{member.name}}</option>
            {% endfor %}
          </select>
    </div>
    <div id="right">
        <i class="ri-loader-3-fill circle"></i>
        <div id="all">
            <div id="details">
                <h2 id="name">Name</h2>
            <div id="avg">
                <div id="l">
                    <h2 id="avgtime">-</h2>
                    <p>Avg entry time</p>
                </div>
                <div id="l">
                    <h2 id="tw">-</h2>
                    <p>Total working hours</p>
                </div>
            </div>
            <div id="holi">
                <div id="l">
                    <h2 id="th">-</h2>
                    <p>Total holidays</p>
                </div>
                <div id="l">
                    <h2 id="tl">-</h2>
                    <p>Total Late days</p>
                </div>
            </div>
        </div>
                         
        <div id="last">
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
            <div id="dets">
                <p>lol</p>
                <p>lol</p>
                <p>lol</p>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js" integrity="sha512-iWPnCISAd/J+ZacwV2mbNLCaPGRrRo5OS81lKTVPtRg1wGTC20Cfmp5Us5RcbLv42QLdbAWl0MI57yox5VecQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/js/profile.js"></script>
</body>
</html>